[Unit]
Description=Modbus Multi-Master/Slave Proxy
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /app/modbus-softsplit/ && python -u main.py"
Restart=on-abort

[Install]
WantedBy=multi-user.target
